services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile.prod
    ports: [80:80]
    volumes:
      - ./app/src:/app/src
    env_file: [".env"]
    depends_on: [api]

  api:
    build:
      context: ./api
      dockerfile: Dockerfile.prod
    volumes:
      - ./api/src:/api/src
    env_file: [".env"]
    depends_on: [db]

  db:
    image: mariadb:lts
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/scripts:/docker-entrypoint-initdb.d
    env_file: [".env"]
